.anchor-pane {
  -fx-background-color:  linear-gradient(to right, #0061FF, #60EFFF);
}

.heading-label {
  -fx-background-color: linear-gradient(to right, #434343, #3d3d3d);
  -fx-background-radius: 10 10 0 0;
}

.game-border {
  -fx-background-color: #fff;
  -fx-background-radius: 10px;
}

.progress-bar {
  -fx-text-box-border: #fff;
  -fx-control-inner-background: #f1f1f1;
  -fx-accent: #39acef;
}

.answer {
  -fx-background-color: #f1f1f1;
  -fx-background-radius: 10px;
}

.answer:hover {
  -fx-background-color: #399ed8;
}

.ability {
  -fx-background-color: #fff;
  -fx-background-radius: 10px;
}

.ability:hover {
  -fx-background-color: #f1f1f1;
}

.navigation-btn {
  -fx-background-color: #fff;
  -fx-background-radius: 50%;
}

.navigation-btn:hover {
  -fx-background-color: #f1f1f1;
}

.table {
  -fx-background-radius: 0 0 10 10;
}

.choice-box {
  -fx-background-radius: 10px;
  -fx-background-color: #f1f1f1;
  -fx-mark-color: #434343;
}

.text-field {
  -fx-background-radius: 10px;
}

.choice-box > .label {
  -fx-text-fill: black;
}
